body{
    background: #ce9f8d;
}
.login-box{
    background: #ffffff;
    border: solid thin #dcd1c8;
    border-radius: 20px;
}

.login-box button{
    background: #ce9f8d;
    color: #f5f8e6;
}

.login-box input{
    background: #f4e5e2;
}

.errors{
    color: red;
}